* {
  text-decoration: none;
  list-style-type: none;
}

.line {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  margin: 3px 0;
}

.ViewMore-Wrapper {
  margin: 30px 100px;
}

.ViewMore-Wrapper h2 {
  margin-bottom: 30px;
}

.Container-ViewMore {
  display: flex;
}

.Sidebar {
  width: 30%;
}
.Sidebar h3 {
  /* background-color: #3a77ff; */
  margin: 10px 0;
}
.box-Categories li {
  margin: 15px 0 15px 15px;
}
.box-Sell {
  padding: 20px;
  color: white;
  background-color: #3a77ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-Sell a {
  text-decoration: none;
}

.box-Sell h4 {
  color: white;
}

.box-Sell p {
  color: white;

  font-size: small;
  margin: 20px 5px;
}
.box-Sell button {
  border: 2px solid white;
  background-color: #3a77ff;
  color: white;
  padding: 10px;
  width: 100%;
}

/*--///////////////////////////////////////////////////--*/
.Main-Section {
  width: 80%;

  margin-left: 20px;
}

.Main-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main-top-bar-ads {
  margin-bottom: 5px;
  padding: 2px;
}
.Main-top-bar-ads p {
  border-radius: 5px;
  background-color: #a7c0f5;
  font-size: small;
}
.left-bar p {
  margin: 0 5px;
}

.sort-icon {
  margin: 0 5px;
}
.bars {
  border-radius: 70%;
  padding: 5px;
}
.bars:hover {
  cursor: pointer;
  background-color: #a9c2f7;
}
.figma {
  border-radius: 90%;
  padding: 5px 6px;
  cursor: pointer;
}
.figma:hover {
  border-radius: 10px;
  background-color: #a9c2f7;
}

.left-bar select {
  border: none;
  padding: 5px;

  /* background: rgb(194, 222, 209) */
  /* border: 3px solid rgb(84, 73, 116); */

  font-size: small;
}

.left-bar option:checked {
  color: rgb(243, 243, 243);
  background-color: rgb(5, 26, 1);
}
.left-bar option p {
  margin: 15px;
}

.Display-Cards {
  display: flex;
  flex-wrap: wrap;
}
.Display-Cards2 {
  margin-right: 10px;
  width: 30%;
}
.Display-Cards-NoData {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Display-Cards-NoData img {
  margin-top: 20px;
  /* width: 40%; */
}
.highlighted {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
